includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - tests
    excludePaths:
        - tests/ArchTest.php
        - tests/MakeEnumCommandTest.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
